<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" >SELECT</button>
  </div>
  <div class="column-select">
  <mat-form-field appearance="fill" style="height:20px">
    <mat-label>columns</mat-label>
    <mat-select [(ngModel)]="selectedValue1" name="displayColumns">
      <mat-option>
        *
      </mat-option>
      <mat-option *ngFor="let data of displayedColumns" [value]="data">
        {{data}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="example-button-row">
    <button mat-raised-button color="primary">from table where </button>
  </div>
  <div class="column-select">
    <mat-form-field appearance="fill" style="height:20px">
      <mat-label>columns</mat-label>
      <mat-select [(ngModel)]="selectedValue2" name="displayColumns">
        <mat-option *ngFor="let data of displayedColumns" [value]="data">
          {{data}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class ="column-select" style="display:inline-block">
    <mat-form-field appearance="fill">
      <input matInput placeholder="=" (keyup)="applyFilter($event)" >
    </mat-form-field>
  </div>
</section>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z10">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
          </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="box card">
  <div class="row">
  <div class="col-4">
      <h2>Select database</h2>
      <mat-list dense>
          <mat-list-item><button  mat-raised-button color="primary" (click)="Select1(1)" >PERIODIC_ELEMENTS</button>  </mat-list-item>
          <mat-list-item> <button mat-raised-button color="primary" (click)="Select1(2)" >PEOPLE</button>  </mat-list-item>
          <mat-list-item> <button mat-raised-button color="primary" (click)="Select1(3)" >EMPLOYEE</button> </mat-list-item>
      </mat-list>
  </div>
  </div>
</div>

  
